<a href="https://colab.research.google.com/github/yasmindevegili/Data-Science/blob/main/LearningPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Funções

In [ ]:
def double(x):
  return x*2

def apply_to_one(f):
  return 1

my_double = double
x = apply_to_one(my_double)

print(f"{x}")

1

In [ ]:
#Função anonima
y = apply_to_one(lambda x: x + 4)
def another_double(x):
  return 2 * x

print(f"{another_double(2)}")

4

In [ ]:
#Função com argumentos padrão
def my_print(message = "my default message"):
  print(message)

my_print("hello")
my_print()

hello
my default message

In [ ]:
def my_full_name(first = "Whats-his-name", last = "Something"):
  return first + " " + last

my_full_name("Joel", "Grus")
my_full_name("Joel")
my_full_name(last="Grus")

'Whats-his-name Grus'

STRINGS

In [ ]:
#Strings de várias linhas
multi_line_string = """Essa é a primeira linha.
Essa é a segunda linha.
Essa é a terceira linha."""
print(multi_line_string)

Essa é a primeira linha.
Essa é a segunda linha.
Essa é a terceira linha.

In [ ]:
#Adição de strings
first_name = "Joel"
last_name = "Grus"
full_name1 = first_name + " " + last_name
full_name2 = "{0} {1}".format(first_name, last_name)
full_name3 = f"{first_name} {last_name}"

Exceções

In [ ]:
try:
  print(0/0)
except ZeroDivisionError:
  print("cannot divide by zero")

cannot divide by zero

Listas

In [31]:
integer_list = [1, 2, 3]
heterogeneous_list =["string", 0.1, True]
list_of_lists = [integer_list, heterogeneous_list, []]
list_lenght = len(integer_list)
list_sum = sum(integer_list)

In [32]:
1 in [1, 2, 3]
0 in [1, 2, 3]

False

In [35]:
#Concatenando listas
x = [1, 2, 3]
x.extend([4, 5, 6])

#Sem modificar
y = x + [7, 8, 9]

#Um elemento por vez
x.append(10)
print(y)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 10]

In [37]:
#Descompactar listas (exclusivo para quando sabendo a len da lista)

x, y = [1, 2]

#Descartando um valor
_, z = [1, 2]

print(x, y, z)

1 2 2

Tuplas

In [39]:
my_tuple = (1, 3)

try:
  my_tuple[1] = 3
except TypeError:
  print("cannot modify a tuple")

cannot modify a tuple

In [40]:
#Usando tuplas em funções
def sum_and_product(x, y):
  return (x + y), (x * y)

sp = sum_and_product(2, 3)
s, p = sum_and_product(5, 10)

In [41]:
#Atribuições
x, y = 1, 2
x, y = y, x

print(x, y)
print(sp)
print(s, p)

2 1
(5, 6)
15 50

Dicionários

In [46]:
empty_dict = {}
empty_dict2 = ()
grades = {"Joel": 80, "Tim": 95}

joels_grade = grades["Joel"]
print(joels_grade)

try:
  kates_grade = grades["Kate"]
except KeyError:
  print("no grade for Kate!")

80
no grade for Kate!

In [50]:
#Verificando a existência de uma grade
joel_has_grade = "Joel" in grades
kate_has_grade = "Kate" in grades

print(f"{joel_has_grade}, {kate_has_grade}")

True, False

In [52]:
#Método Get
joels_grade = grades.get("Joel", 0)
kates_grade = grades.get("Kate", 0)
no_one_grade = grades.get("No One")

print(f"{joels_grade}, {kates_grade}, {no_one_grade}")

80, 0, None

In [53]:
grades["Tim"] = 99
grades["Kate"] = 100
num_students = len(grades)